<div class="loader">
  <span class="stroke" [style.animationPlayState]="needAniamtion"></span>
  <span class="stroke" [style.animationPlayState]="needAniamtion"></span>
  <span class="stroke" [style.animationPlayState]="needAniamtion"></span>
  <span class="stroke" [style.animationPlayState]="needAniamtion"></span>
  <span class="stroke" [style.animationPlayState]="needAniamtion"></span>
  <span class="stroke" [style.animationPlayState]="needAniamtion"></span>
  <span class="stroke" [style.animationPlayState]="needAniamtion"></span>
</div>
