<div class="welcome-screen">

  <span class="arc first"></span>
  <span class="arc second"></span>
  <span class="arc third"></span>

  <span class="dots one"></span>
  <span class="dots two"></span>
  <span class="dots three"></span>
  <span class="dots four"></span>
  <span class="dots five"></span>

  <img src="assets/images/welcome.svg">

  <div class="text">
    <h1>"Play your favourite musics and <br> <span>dance to the beat</span> "</h1>
  </div>

  <button routerLink="/player">
    Get Started
  </button>

</div>
